@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: sans-serif;
  line-height: 1.6;
  animation: fade-in 0.2s ease-in;
  min-height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #444;
  padding: 20px;
  border-radius: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1.3rem;
}

nav ul li a {
  margin-left: 20px;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.3rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 30px;
}

h3 {
  font-size: 1.5rem;
}

h1 a,
h2 a,
h3 a {
  font-size: inherit !important;
  color: inherit;
}

a:link,
a:visited {
  font-size: 1.3rem;
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

em {
  font-style: normal;
  font-weight: bold;
}

img.header {
  width: 200px;
}

img.footer {
  width: 150px;
}

img.appicon {
  width: 50px;
  float: left;
  padding-right: 10px;
}

h3.appicon {
  margin-bottom: 30px;
}

p.article-date {
  color: #777;
  font-style: italic;
  font-size: 1rem;
  margin: 0;
}

.header {
  transition: transform 0.3s ease;
}

.header:hover {
  transform: scale(1.1);
}

p.notfound {
  font-size: 2em;
  margin-top: 30px;
  font-weight: normal;
}

div.notfound {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

a.notfound {
  color: #3498db;
  text-decoration: none;
  font-size: 2em;
}
a.notfound:hover {
  text-decoration: underline;
}

.header-placeholder {
  height: 120px;
  background-color: transparent;
}

img.panel {
  width: 300px;
  transition: transform 0.3s ease;
}
img.panel:hover {
  transform: scale(1.1);
}

.panels {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.panelsite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
